.task_1{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(231, 235, 235);
}
.container_task1{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.container__title, .container_task1__text{
    margin-bottom: 40px;
    font-weight: 600;
}
.container_task1__text::before{
    content: 'Begining:';
    display: inline-block;
    color: #df5e5e;
    margin-right: 10px;
}
.container_task1__text::after{
    content: ':Ending';
    display: inline-block;
    color: #4ee37d;
    margin-left: 10px;
}
.container__title::before{
    content: 'Task 1';
    display: block;
    text-align: center;
    color: #4444e3;
    position: relative;
    top: -25px;
}

.task_2{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(154, 160, 160);
}
.sque{
    width: 500px;
    background-color: #4ee37d;
    height: 500px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}
.sque_top, .sque_bottom{
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.sque_bottom{
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.sque::after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #df5e5e;
    position: absolute;
    top: 200px;
    left: 200px;
}
.task_2::before{
    content: 'Task 2';
    display: block;
    text-align: center;
    color: #4444e3;
    position: relative;
    top: -25px;
    font-weight: 600;
    font-size: 1.4em;
}

/* -------TASK 3----------- */
.task_3{
    width: 100%;
    padding: 50px 0;
    background-color: #fff
}
.task_3__container{
    max-width: 900px;
    width: 100%;
    height: 450px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
}
.task_3__wrap{
    width: 200px;
    height: 200px;
    border: 10px solid #FFFFFF;
    position: absolute;
    top: 125px;
    left: 20px;
    border-radius: 100px;
    overflow: hidden;
}
.task_3__wrap_background{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: linear-gradient(180deg, #FFE7B6 6.17%, #FFC6AD 94.25%);
}
.task_3__img{
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 26px;
}
.task_3__cover{
    background: linear-gradient(360deg, #FFF9DE 0.57%, #FFD6CF 79.67%);
    width: 100%;
    height: 50%;
    position: relative;
    border-radius: 50px 50px 0 0;
}
.task_3__decorationline{
    background: rgba(255, 255, 255, 0.45);
    border-radius: 40px;
    width: 200px;
    height: 7px;
    position: absolute;
    top: 30%;
    left: 38.9%;
}
.task_3__decorationline:nth-child(2){
    background: rgba(255, 255, 255, 0.65);
    width: 250px;
    top: 37%;
    left: 36.1%;
}
.task_3__decorationline:nth-child(3){
    background: rgba(255, 255, 255, 0.75);
    width: 200px;
    top: 50%;
    left: 38.9%;
}
.task_3__decorationline:nth-child(4){
    background: rgba(255, 255, 255, 0.65);
    width: 250px;
    top: 57%;
    left: 36.1%;
}
.task_3__decorationline:nth-child(5){
    background: rgba(255, 255, 255, 0.55);
    width: 300px;
    top: 64%;
    left: 33.3%;
}
.task_3__undercover{
    border-radius: 0 0 50px 50px; 
    height: 50%;
    position: relative;
}
.task_3__undercover_info{
    position: absolute;
    top: 105px;
    left: 30px;
}
.task_3__fullname{
    font-weight: 400;
    font-size: 30px;
    color: #414141;
}
.task_3__sex{
    position: absolute;
    font-size: 15px;
    color: #414141;
    top: 5px;
    left: 140px;
}
.task_3__cover::after{
    content: "";
    display: inline-block;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    position: absolute;
    top: -40px;
    right: -145px;
}
.task_3__job{
    font-size: 20px;
    color: #414141;
}
.task_3__location{
    font-size: 20px;
    color:#979797;
    line-height: 25px;
}
