.task_1{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(231, 235, 235);
}
.container_task1{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.container__title, .container_task1__text{
    margin-bottom: 40px;
    font-weight: 600;
}
.container_task1__text::before{
    content: 'Begining:';
    display: inline-block;
    color: #df5e5e;
    margin-right: 10px;
}
.container_task1__text::after{
    content: ':Ending';
    display: inline-block;
    color: #4ee37d;
    margin-left: 10px;
}
.container__title::before{
    content: 'Task 1';
    display: block;
    text-align: center;
    color: #4444e3;
    position: relative;
    top: -25px;
}

.task_2{
    width: 100%;
    padding: 50px 0;
    background-color: rgb(154, 160, 160);
}
.sque{
    width: 500px;
    background-color: #4ee37d;
    height: 500px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}
.sque_top{
    width: 100px;
    height: 100px;
    background-color: #fff;
}
.sque_bottom{
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.task_2::before{
    content: 'Task 2';
    display: block;
    text-align: center;
    color: #4444e3;
    position: relative;
    top: -25px;
    font-weight: 600;
    font-size: 1.4em;
}