.creatives{
    padding-top: 20px;
}
.creatives__container{
    display: grid;
    max-width: 1540px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr); 
    padding: 0 15px;
}
.creatives__item{
    position: relative
} 
.creatives__img{
    width: 100%;
    height: 100%;
}
.creatives__item:nth-child(3) {
    /* grid-row: span 2; */ /* correct way #1*/

    /* grid-column-start: 3;*/ /* correct way #3*/
    /*grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    
    grid-column: 3 / 4; /* correct way #2; */
    grid-row: 1 / 3;

}
.creatives__item:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;

}
.creatives__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 232px;
    
}
.creatives__item:nth-child(6)::before {
    content: "";
    display: block;
    background-image: url('/src/media/6th_1_item.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.creatives__title {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 23px;
    font-size: 1.3vw;
}
.creatives__icon {
    margin-bottom: 57px;
}
.creatives__text {
    color: #fff;
    font-size: 1.1vw;
} 