.footer{
    background: #D3D4ED;
    max-width: 1440px;
    min-height: 441px;
    margin: 0 auto;
    padding: 100px 0 24px;
    position: relative;
}
.footer__container{
    max-width: calc(979px + 30px);
    padding: 0 15px;
    min-height: 317px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.footer__container::before{
    content: "";
    display: block;
    border-bottom: 1px solid #404756;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%
}
.footer__container::after{
    content: "";
    display: block;
    border-bottom: 1px solid #404756;
    position: absolute;
    width: 100%;
    bottom: 37px;
    left: 0;
}
.footer__title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 65px;
    line-height: 58px;
    z-index: 1;
}
.footer__menus{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.footer__socials_img{
    display: block;
    position: absolute;
    top: -100px;
    left: -156px;
}
.footer__nav_img{
    display: block;
    position: absolute;
    top: 17px;
    right: 79px;
    z-index: 0;
}
.footer__nav_title{
    font-family: 'Open Sans'; 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 19px;
    z-index: 3;
}
.footer__menu_list{
    list-style-type: none;
}
.footer__nav_item, .footer__menu_item{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #404756;
}
.footer__nav_list{
    min-width: 100px;
    list-style-type: none;
}
.footer__socials{
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    min-width: 50%;
}
.footer__socials_menu{
    display: flex;
    column-gap: 42px;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    min-width: 50%;
    align-items: flex-end;
    margin-top: 35px;
    z-index: 4;
}
.footer__production{
    display: flex;
    column-gap: 78px;
}
.footer__production_item, .footer__production_link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #404756;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: #fff;
}